body{
    background-color: rgb(165, 137, 134);
}

.container-board{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.board{ 
    display: grid;
    grid-template-columns: repeat(3, 75px);
    grid-template-rows: repeat(3,75px);
    grid-gap: 1px;
    background-color: rgb(165, 137, 134);
}

.board-item{
    width: 100%;
    height: 100%;
    font-size: 75px;
    text-align: center;
    border-radius: 5px;
    border:none;
}

.game-reset{
    margin-top: 20px;
    align-self: flex-end;
}

.players{
    display: flex;
    justify-content: center;
    align-items: center;
}

.winDiv{
    position: absolute;
}